@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #43affc;
}

.container{
    background: #fff;
    width: 400px;
    border-radius: 7px;
}

.container header{
    color: #43affc;
    font-size: 21px;
    font-weight: 500;
    padding: 16px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
}

header i{
    cursor: pointer;
    font-size: 30px;
    margin-right: 8px;
}

.container.active header i{
    font-size: 30px;
    margin: 5px;
}

.container .inputPart{
    margin: 20px 25px 30px;
}

.container.active .inputPart{
    display: none;
}

.inputPart .infoTxt{
    font-size: 17px;
    text-align: center;
    padding: 12px 10px;
    border-radius: 7px;
    margin-bottom: 15px;
    display: none;
}

.infoTxt.error{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    display: block;
}

.infoTxt.pending{
    color: #0c5460;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
    display: block;
}

.inputPart :where(input,button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
}

.inputPart input{
    border: 1px solid #bfbfbf;
    text-align: center;
}

.inputPart input:is(:focus,:valid){
    border: 2px solid #43affc;
}

.inputPart .separator{
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator::before{
    content: 'or';
    background: #fff;
    font-size: 19px;
    padding: 0 15px;
    color: #ccc;
}

.inputPart button{
    color: #fff;
    cursor: pointer;
    background: #43affc;
}

.container .weatherPart{
    margin: 30px 0 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

.container.active .weatherPart{
    display: flex;
}

.weatherPart img{
    max-width: 125px;
}

.weatherPart .temp{
    display: flex;
    font-size: 72px;
    font-weight: 500;
}

.weatherPart .temp .numb{
    font-weight: 600;
}

.weatherPart .temp .deg{
    font-size: 40px;
    margin: 10px 5px 0 0;
}

.weatherPart .weather{
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
}

.weatherPart .location{
    font-size: 21px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.location i{
    font-size: 22px;
    margin-right: 5px;
}

.weatherPart .bottomDetails{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bfbfbf;
}

.bottomDetails .column{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.column i{
    color: #43affc;
    font-size: 40px;
}

.humidity{
    border-left: 1px solid #bfbfbf;
}

.details .temp,.humidity span{
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
}

.details .temp .deg{
    margin: 0;
    font-size: 17px;
    padding: 0 2px 0 1px;
}

.details p{
    font-size: 14px;
    margin-top: -6px;
}








