@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container{
    padding: 20px 50px;
}
.container .title{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
}

.container p{
    text-align: justify;
    padding-bottom:20px;
}

.counterUp{
    background: red;
    min-height: 50vh;
    display: flex;
    align-items: center;
    padding: 0 50px;
    background-image: url(./pexels-sebastiaan-stam-1482476.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.counterUp .content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.content .box{
    width: calc(25% - 30px);
    height: 250px;
    border:  1px dotted rgba(255, 255, 255, 0.6);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.content .box .icon{
    font-size: 48px;
    color: #e6e6e6;
}

.content .box .counter{
    font-size: 50px;
    color: #e6e6e6;
    font-weight: 500;
    font-family: sans-serif;
}

.content .box .text{
    color: #ccc;
    font-weight: 400;
}


@media (max-width: 1036px) {
    .counterUp{
        padding: 50px 50px 0 50px;
    }
    .content .box{
        width: calc(50% - 30px);
        margin-bottom: 50px;
    }
}

@media (max-width: 580px) {
    .counterUp .content .box{
        width: 100%;
    }
}
