*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    width: 280px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    position: relative;
}

.lock{
    padding: 10px;
    font-size: 25px;
    color: #fff;
    background-color: #48dbfb;
    border-radius: 5px 0 0 5px;
}

input{
    width: 100%;
    padding: 10px 0;
    padding-left: 15px;
    font-size: 18px;
    border: 2px solid #48dbfb;
    color: #48dbfb;
    border-radius: 0 5px 5px 0;
    outline: none;
}

.show{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    color: #48dbfb;
    cursor: pointer;
    display: none;
}

input:valid ~ .show{
    display: block;
}

.hide::before{
    content: '\f070';
}
