*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a7ffeb;
    perspective: 1000px;
    transform-style: preserve-3d;
    overflow: hidden;
}

.card{
    background-color: #fff;
    height: 380px;
    width: 300px;
    margin: auto;
    border-radius: 5px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

.card .content{
    color: #202020;
    text-align: center;
    transform-style: preserve-3d;
}

.content .user{
    height: 100px;
    width: 100px;
    margin: auto;
    background-color: #33ffcf;
    border: 1px solid #1affc9;
    border-radius: 50%;
    transform: translateZ(50px);
}

.user .fa-user{
    color: #fff;
    font-size: 40px;
    line-height: 100px;
}

.content h1{
    margin: 20px 0;
    font-size: 32px;
    font-weight: 600;
    transform: translateZ(50px);
}

.content .follow_us{
    font-size: 23px;
    font-weight: 600;
    transform: translateZ(50px);

}

.content .icons{
    margin: 20px 0 10px 0;
    transform: translateZ(50px);
}

.icons a{
    margin: 0 4px;
}

.icons a span{
    height: 45px;
    width: 45px;
    background-color: #33ffcf;
    border: 1px solid #1affc9;
    line-height: 45px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
}


