@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #007bff;
}

.startBtn,
.infoBox,
.quizBox,.resultBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
              0px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.infoBox.activeInfo,.quizBox.activeQuiz,.resultBox.activeResult{
    z-index: 1;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}


/* Start Quiz Button Styling */
.startBtn button {
  font-size: 25px;
  font-weight: 500;
  color: #007bff;
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}

/* Star Info Box Styling */
.infoBox {
  width: 540px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%,-50%) scale(0.9);
  pointer-events: none;
  opacity: 0;
}

.infoBox .infoTitle {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 600;
}

.infoBox .infoList {
  padding: 15px 30px;
}

.infoBox .infoList .info {
  margin: 5px 0;
  font-size: 17px;
}

.infoBox .infoList .info span {
  font-weight: 600;
  color: #007bff;
}

.infoBox .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  border-top: 1px solid lightgray;
}

.infoBox .buttons button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  outline: none;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons button.quit{
  color: #007bff;
}

.buttons button.quit:hover {
  color: #fff;
  background: #007bff;
}

.buttons button.restart {
  color: #fff;
  background: #007bff;
}

.buttons button.restart:hover {
  background: #0263ca;
}

/* Start Quiz Box Styling */

.quizBox {
  width: 550px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%,-50%) scale(0.9);
  pointer-events: none;
  opacity: 0;
}

.quizBox header {
  width: 100%;
  height: 70px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
  position: relative;
}

.quizBox header .title {
  font-size: 20px;
  font-weight: 600;
}

.quizBox header .timer {
  width: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  background: #cce5ff;
  border-radius: 5px;
  border: 1px solid #b8daff;
  padding: 0 8px;
}

.quizBox header .timer .timeText {
  font-weight: 400;
  font-size: 17px;
  user-select: none;
}

.quizBox header .timer .timerSec {
  font-size: 18px;
  font-weight: 500;
  background: #343a40;
  color: #fff;
  width: 45px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #343a40;
  user-select: none;
}

.quizBox header .timeLine{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    /* width: 100%; */
    background: #007bff;
}

.quizBox section {
  padding: 25px 30px 20px 30px;
}

.quizBox section .queText {
  font-size: 25px;
  font-weight: 600;
}

.quizBox section .optionList {
  padding: 20px 0;
  display: block;
}

section .optionList .option {
  background-color: aliceblue;
  border: 1px solid #84c584;
  border-radius: 5px;
  padding: 8px 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 17px;
  transition: all 0.3s ease;
}

section .optionList .option:hover {
  color: #004085;
  background: #cce5ff;
  border-color: #b8daff;
}

.optionList .option:last-child {
  margin-bottom: 0px;
}

.optionList .option .icon {
  height: 26px;
  width: 26px;
  border: 2px solid;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  pointer-events: none;
}

.optionList .option .icon.tick {
  border-color: #23903c;
  color: #23903c;
  background: #d4edda;
}

.optionList .option .icon.cross {
  background: #f8d7da;
  color: #a4283a;
  border-color: #a4283a;
}

.optionList .option.correct{
    color: #155724;
    background: #d4edda;
    border-color: #c3e6cb;
}

.optionList .option.inCorrect{
    color: #721c24;
    background: #f8d7da ;
    border-color: #f5c6cb;
}

.optionList .option.disabled{
    pointer-events: none;
    
}


.quizBox footer {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.quizBox footer .totalQue span{
  display: flex;
  user-select: none;
}

.quizBox footer .totalQue span p{
    font-size: 16px;
    font-weight: 500;
    padding: 0 5px;
}

footer .totalQue span:first-child{
    padding-left: 0px;
}

footer .nextBtn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #007bff;
    outline: none;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
}


footer .nextBtn:hover{
    background: #0263ca;
}

/* Start Result Box styling */
.resultBox{
    background: #fff;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.resultBox .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.resultBox .completeText{
    font-size: 20px;
    font-weight: 500;
}

.resultBox .scoreText span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;

}

.scoreText span p{
    font-weight: 600;
    padding: 0 4px;
}

.resultBox .buttons{
    display: flex;
    margin: 20px 0;
}

.resultBox .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    outline: none;
    border: 1px solid #007bff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}



